{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<form action="/signup" method="post">
    <input type="text" name="nameInput" id="" placeholder="Enter your name"><br><br>
    <input type="tel" name="phone" id="" placeholder="Enter your contact"><br><br>
    <button type="submit">Submit</button>
</form>